h3 {
    font-size: 25px !important;
    animation-name: animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    from {box-shadow: 1px 1px 30px aqua;}
    to {box-shadow: 1px 1px 30px royalblue;}
}

hr {
    width: 80%;
}

canvas {
    border: 1px solid black;
    margin-top: 25px;
    animation-name: animate_2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animate_2 {
    from {box-shadow: 1px 1px 30px blue;}
    to {box-shadow: 1px 1px 30px darkblue;}
    from {box-shadow: 1px 1px 30px white;}
}

#identity {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}

select {
    color: white;
    background-color: skyblue;
}